@rendermode InteractiveServer

@inject IPostRepo PostRepo

@if (allPosts == null)
{
	<p><em>Loading...</em></p>
}
else
{
	@foreach (var post in allPosts)
	{
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">@post.Title</h5>
				<p class="card-text">@post.Description</p>
				<p class="card-text">@post.CreationDate</p>
			</div>
			<img src="@post.Picture" class="card-img-top" alt="...">
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	}
}

@code {
	[Inject]
	private IPostRepo postRepo { get; set; }

	private List<Post> allPosts { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		allPosts = await postRepo.GetAllPosts();
	}
}