@inject IFileUploadService FileUploadService

<h3>Opret en ny post</h3>

<EditForm Model="post" FormName="CreateForm">
	<div class="card" style="width: 32rem; margin-bottom: 2%">
		<div class="card-body">
			<div>
				<div class="row mb-3">
					<label for="title" class="form-label">Titel</label>
					<InputText class="card-title" @bind-Value="post.Title"></InputText>
				</div>

				<div class="row mb-3">
					<label for="description" class="form-label">Beskrivelse</label>
					<InputTextArea @bind-Value="post.Description"></InputTextArea>
				</div>

				<div class="row mb-3">
					<label for="location" class="form-label">Lokalition</label>
					<InputText @bind-Value="post.Location"></InputText>
				</div>
				<button class="btn btn-primary" style="float: right; " type="submit">Opret</button>
			</div>
		</div>
		<div class="card-footer">
			<div>
				<form FormName="UploadForm" enctype="multipart/form-data">
					<input type="file" name="File" @* class="form-control" *@ />
					<button type="submit" @onsubmit="@AddImage">Upload</button>
				</form>
			</div>
		</div>
	</div>
</EditForm>

@code {
	[SupplyParameterFromForm(FormName = "CreateForm")]
	public Post post { get; set; } = new Post();

	[SupplyParameterFromForm(FormName = "UploadForm")]
	IFormFile? File { get; set; }

	private FileUploadService fileUploadService { get; set; }

	public void AddImage() => fileUploadService.UploadFile(File);
}