@inject ITechniqueRepo TechniqueRepo
@rendermode InteractiveServer



<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle"
            data-bs-toggle="dropdown">
        @selectedTechName
    </button>

    <ul class="dropdown-menu">
        @foreach (var tech in techniques)
        {
            <li>
                <a class="dropdown-item"
                   @onclick="() => SelectTech(tech.Id)">
                    @tech.Name
                </a>
            </li>
        }
    </ul>
</div>



@code {
    private Technique? selectedTechnique;
    private string selectedTechName =>
       techniques.FirstOrDefault(t => t.Id == selectedTechniqueId)?.Name
       ?? "Select technique";
    private int? selectedTechniqueId = null;

    [Inject]
    private ITechniqueRepo techniqueRepo { get; set; }
    private List<Technique> techniques { get; set; } = new List<Technique>();
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        techniques = await techniqueRepo.GetAllTechs();
    }
    public void SelectTech(int id)
    {
        selectedTechniqueId = id;
        StateHasChanged();
    }

}


