@page "/chatroom"
@page "/chat/{ReceiverId}"
@inject IMessageService MsgService
@inject AuthenticationStateProvider AuthStateProvider
@inject IChatClient Chat
@inject NavigationManager Nav
@rendermode InteractiveServer

<ul>
    @foreach (var m in messages)
    {
        <li>@m.Sender: @m.Text</li>
    }
</ul>
<EditForm Model="newMessage" class="row-cols-2" enctype="multipart/form-data" FormName="MessageTextForm" OnSubmit="Send">
<InputText @bind-Value="newMessage.Text" />
<button type="submit">Send</button>
</EditForm>
@code {
    List<Message> messages = new();
    string currentUserId;

    [SupplyParameterFromForm(FormName = "MessageTextForm")]
    Message? newMessage { get; set; } = new Message();

    [Inject]
    private IMessageService msgService { get; set; }

    [Parameter] public string ReceiverId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var auth = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = auth.User;
        currentUserId =user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

        messages = await MsgService.GetConversationAsync(currentUserId!, ReceiverId!);

        await Chat.InitializeAsync(Nav);
        Chat.OnMessageReceived((from, msg) =>
        {
            messages.Add(new Message { SenderId = from, ReceiverId = currentUserId!, Text = msg });
            InvokeAsync(StateHasChanged);
        });
    }

    public async Task Send()
    {
        await Chat.SendMessage(currentUserId!, ReceiverId!, newMessage.Text!);
        messages = await msgService.GetConversationAsync(currentUserId!, ReceiverId!);
        newMessage.Text = "";
        
    }
}
