@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<div class="d-flex align-items-center">
	<h1>Feed</h1>

	<div class="ms-auto">
		<p class="me-2">@sortMethod</p>

		<div class="dropdown d-inline-block">
			<button class="btn-primary dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">Filter</button>
			<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="filterDropdown">
				<li>
					<button onclick="@(() => SortByMostLikes())" class="dropdown-item">Most liked</button>
				</li>
				<li>
					<button onclick="@(() => SortByNewest())" class="dropdown-item">Newest</button>
				</li>
			</ul>
		</div>
	</div>
</div>
<div>
	<hr />

	@* Component for creating a new post *@
	<div style="margin: auto; width: 50%;">
		<PostCreate></PostCreate>
	</div>

	<hr />

	@* Componet for viewing all posts - sorted after creationDate *@
	<div style="margin: auto; width: 50%;">
		<PostRead Posts="posts"></PostRead>
	</div>
</div>


@code {
	[Inject]
	private ISortService sortService { get; set; }
	private string sortMethod { get; set; } = "Nyeste";
	private List<Post> posts { get; set; }


	// Loads all posts to feed
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		posts = await sortService.SortByCreationDate();
	}

	// Methods for sorting posts
	private async Task SortByMostLikes()
	{
		posts = await sortService.SortByLikes();
		sortMethod = "Mest likede";
	}

	private async Task SortByNewest()
	{
		posts = await sortService.SortByCreationDate();
		sortMethod = "Nyeste";
	}
}
