@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<h1>Feed</h1>
<hr />
<div>

    @* Component for creating a new post *@
    <div style="margin: auto; width: 50%;">
        <PostCreate ></PostCreate>
    </div>

    <hr />

    @* Componet for viewing all posts - sorted after creationDate *@
    <div style="margin: auto; width: 50%;">
        <PostRead IsProfilePage="@false"></PostRead>
    </div>
</div>