@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<div class="d-flex align-items-center">
	<h1>Feed</h1>

	<div class="ms-auto d-flex align-items-center gap-2">
		<p class="mb-0">Filter efter: </p>
		<select class="form-select form-select-sm" style="width: auto;" @onchange="OnSortChange" value="@selectedSortOption">
			<option value="Nyeste">Nyeste</option>
			<option value="Mest likede">Mest likede</option>
		</select>
		<p class="mb-0">posts</p>
	</div>
</div>
<div>
	<hr />

	@* Component for creating a new post *@
	<div style="margin: auto; width: 50%;">
		<PostCreate></PostCreate>
	</div>

	<hr />

	@* Componet for viewing all posts - sorted after creationDate *@
	<div style="margin: auto; width: 50%;">
		<PostRead Posts="posts"></PostRead>
	</div>
</div>


@code {
	[Inject]
	private ISortService sortService { get; set; }
	private string selectedSortOption { get; set; } = "Nyeste";
	private List<Post> posts { get; set; }


	// Loads all posts to feed
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		posts = await sortService.SortByCreationDate();
	}

	// Methods for sorting posts
	private async Task SortByMostLikes()
	{
		posts = await sortService.SortByLikes();
		selectedSortOption = "Mest likede";
	}

	private async Task SortByNewest()
	{
		posts = await sortService.SortByCreationDate();
		selectedSortOption = "Nyeste";
	}

	private async Task OnSortChange(ChangeEventArgs changeEvent)
	{
		var value = changeEvent.Value?.ToString();

		if (value == "Mest likede")
		{
			await SortByMostLikes();
		}
		else
		{
			await SortByNewest();
		}
	}
}
