@page "/Profile/{id}"

@inject IProfileRepo profileRepo
@inject IPostRepo postRepo
@inject AuthenticationStateProvider AuthenticationStateProvider


@if (profile == null)
{
    <p>Loading...</p>
}
else
{
    <div class="row align-items-center">
        <div class="col-auto">
            <img width="200" height="200" src="@profile.ImagePath" class="rounded-circle" />
        </div>
        <div class="col">
            <h3>@profile.UserName</h3>
        </div>
    </div>


    @* Componet for viewing all posts - sorted after creationDate *@
    <div style="margin: auto; width: 50%;">
        <PostRead Posts="posts"  UserId="@id" IsProfilePage="@true"></PostRead>
    </div>
}


@code {
    [Parameter]
    public string id { get; set; }
    private Profile profile { get; set; }
    private List<Post> posts { get; set; }


    protected override async Task OnInitializedAsync()
    {
        profile = await profileRepo.GetProfileById(id);
        posts = await postRepo.GetPostsByUser(id);
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        id = state.User.FindFirst("sub")?.Value; // or ClaimTypes.NameIdentifier

    }
      // private string? userId;
}
