@page "/Settings/{id}"
@rendermode InteractiveServer

@inject IFileUploadService FileUploadService
@inject IProfileRepo ProfileRepo

@if (profile == null)
{
    <p><em>Loading...</em></p>

}
else
{
    <h2>Settings</h2>
    <div width="300" Height="500">
        <img src="@profile.ImagePath" style class="rounded row-cols-1" onchange="TestChange" />

        <EditForm Model="FileInput" class="row-cols-2" enctype="multipart/form-data" FormName="UploadFileForm" OnSubmit="ChangeProfilePicture" style="width:fit-content">
            <InputFile name="FileInput.File" class="form-control" OnChange="OnFileSelected" />
            <button type="submit" class="btn btn-primary">Upload</button>

        </EditForm>
    </div>


    <div>
    </div>

}
@code {



    [SupplyParameterFromForm(FormName = "UploadFileForm")]
    FileModel FileInput { get; set; } = new();

    class FileModel
    {
        public IBrowserFile File { get; set; }
    }
    [Inject]
    private IFileUploadService fileUploadService { get; set; }

    [Inject]
    private IProfileRepo profileRepo { get; set; }

    [Parameter]
    public string id { get; set; }

    [SupplyParameterFromForm(FormName = "EditProfileForm")]
    private Profile profile { get; set; }

    protected override async Task OnInitializedAsync()
    {
        profile = await profileRepo.GetProfileById(id);
    }

    public async Task ChangeProfilePicture()
    {
        if (FileInput.File != null)
        {
            profile.ImagePath = await fileUploadService.UploadFile(FileInput.File, "ProfileImages");
            await profileRepo.UpdateProfile(profile);
        }
    }

    private void OnFileSelected(InputFileChangeEventArgs e)
    {
        FileInput.File = e.File;
    }



}
