@page "/Settings/{id}"
@rendermode InteractiveServer

@inject IFileUploadService FileUploadService
@inject IProfileRepo ProfileRepo

@if (profile == null)
{
    <p><em>Loading...</em></p>

}
else
{
    <h2>Settings</h2>
    <div>
        <div class="border card" style="padding:20px; width:fit-content; height:fit-content" >
            <img src="@profile.ImagePath" style="width:300px; height:300px" class="rounded-circle row-cols-1 align-content-center" onchange="TestChange" />
    
        <EditForm Model="FileInput" class="row-cols-2" enctype="multipart/form-data" FormName="UploadFileForm" OnSubmit="ChangeProfilePicture" style="width:fit-content; padding-top:10px">
                <InputFile name="FileInput.File" class="form-control" OnChange="OnFileSelected"  />
            <button type="submit" class="btn btn-primary">Upload</button>

       </EditForm>
        </div>
    </div>

@*     <div>
        <EditForm Model="profile" enctype="multipart/form-data"  style="align-content:center">
            <div>
                <InputText></InputText>
                <label> </label>
            </div>
            
            <button type="submit" class="btn btn-primary">Gem</button>
        </EditForm>    
        

    </div>
     *@
}
@code {



    [SupplyParameterFromForm(FormName = "UploadFileForm")]
    FileModel FileInput { get; set; } = new();

    class FileModel
    {
        public IBrowserFile File { get; set; }
    }
    [Inject]
    private IFileUploadService fileUploadService { get; set; }

    [Inject]
    private IProfileRepo profileRepo { get; set; }

    [Parameter]
    public string id { get; set; }

    [SupplyParameterFromForm(FormName ="EditProfileForm")]
    private Profile profile { get; set; }


    protected override async Task OnInitializedAsync()
    {
        profile = await profileRepo.GetProfileById(id);
    }

    public async Task ChangeProfilePicture()
    {
        if (FileInput.File != null)
        {
            profile.ImagePath = await fileUploadService.UploadFile(FileInput.File);
            await profileRepo.UpdateProfile(profile);
        }
    }

    private void OnFileSelected(InputFileChangeEventArgs e)
    {
        FileInput.File = e.File;
    }
    
 
  
}
