@page "/Test"
@attribute [StreamRendering]
@rendermode InteractiveServer



<PageTitle>Test</PageTitle>

<h1>Test</h1>
<p>Lorem ipsum</p>

<TechLureDropdownComp></TechLureDropdownComp>

<button style="
            background:@(isFollowing ? "#444" : "#007bff");
            color:white;
            border:none;
            padding:6px 12px;
            border-radius:5px;
            cursor:pointer;"
        type="button"
        @onclick="ToggleFollow">
    @(isFollowing ? "Following" : "Follow")
</button> @*udsene på follow knappen og func*@





@code {
    private string loggedInUserId;
    bool isFollowing = false;

    async Task ToggleFollow()
    {
        isFollowing = !isFollowing;
    }

}
